In [76]:
def get_experience(experience):
    print(experience)
    month_list = ['месяц', 'месяцев', 'месяца']
    year_list = ['год', 'года', 'лет']
    months = 0
    experience_list = experience.split(' ')
    for i in range(len(experience_list)):
        if experience_list[i] in month_list:
            months += int(experience_list[i-1])
        if experience_list[i] in year_list:
            months += int(experience_list[i-1])*12
    return months

import pandas as pd
import math
worker = pd.read_csv('data/hhru.csv', sep=',')
worker.columns
worker['Experience']= worker['Experience'].astype('object')
#worker
worker['Months'] = worker['Experience'].apply(get_experience)
print(worker['Months'])

Опыт работы 6 лет
Опыт работы 2 года
Опыт работы 4 года 3 месяца
Опыт работы 2 года 8 месяцев

ValueError: invalid literal for int() with base 10: 'года\xa08'

In [77]:
def get_experience(experience):
    month_list = ['месяц', 'месяцев', 'месяца']
    year_list = ['год', 'года', 'лет']
    months = 0
    experience_list = experience.split(' ')
    for i in range(len(experience_list)):
        if experience_list[i] in month_list:
            months += int(experience_list[i-1])
        if experience_list[i] in year_list:
            months += int(experience_list[i-1])*12
    return months

print(get_experience('Опыт работы 2 года 8 месяцев'))

32