In [5]:
import pandas as pd

data_1 = pd.DataFrame({'Value': [100, 45, 80],
                       'Group': [1, 4, 5]},
                      index = ['I0', 'I1', 'I2']
                     )
data_2 = pd.DataFrame({'Company': ['Google', 'Amazon', 'Facebook'],
                       'Add': ['S0', 'S1', 'S7']},
                      index = ['I0', 'I1', 'I3']
                     )

data_1.join(data_2, how='inner')
data_1.join(data_2, how='outer')
data_1.join(data_2, how='left')
data_1.join(data_2, how='right')

    Value  Group   Company Add
I0  100.0    1.0    Google  S0
I1   45.0    4.0    Amazon  S1
I3    NaN    NaN  Facebook  S7