ДОСТУП К ДАННЫМ В SERIES
Доступ к элементам осуществляется с использованием loc или iloc.

In [3]:
import pandas as pd

melb_df = pd.read_csv('data/melb_data_fe.csv')
#melb_df.head()

In [19]:
#.loc вызывается с квадратными скобками, 
# в которые передаются метки. В него можно передать как один индекс - это имя СТРОКИ!!!!, так и список, чтобы получилось несколько элементов. 
melb_df.loc[3] # покажет значения по всем столбцам в 3 строке
#melb_df.loc['Price'] # выдаст ошибку
melb_df.loc[::] # покажет всю таблицу
melb_df.loc[::, 'Price'] # покажет все строки по столбцу Price
melb_df.loc[::1000, ['Method', 'Price']] # каждая 1000-ая строка по столбцам Method и Price
melb_df.loc[::1000, 'Method'] # каждая 1000-ая строка по столбцу Method
melb_df.loc[3, 'Price'] # элемент в 3 строке в колонке Price

850000.0

#.iloc также вызывается с квадратными скобками и принимает на вход порядковые номера элементов Series (нумерация начинаются с 0).
# В него можно так же передавать как один индекс, так и диапазон чисел. 
#Получим срез из исходной Series с первого по третий элемент:
ПРИНИМАЕТ НА ВХОД ТОЛЬКО ЦЕЛОЧИСЛЕННЫЕ ИНДЕКСЫ (НОМЕРА СТРОК)

In [32]:
melb_df.iloc[3] # покажет значения по всем столбцам в 3 строке
#melb_df.iloc['Price'] # выдаст ошибку
melb_df.iloc[::] # покажет всю таблицу
#melb_df.iloc[::, 'Price'] # выдаст ошибку

#melb_df.iloc[3, 'Price'] покажет ошибку

melb_df.iloc[3:5] # покажет 3 и 4 строки, последнее значение диапазона не входит в список

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend
3,Abbotsford,3,house,850000.0,PI,Biggin,2017-04-03,2.5,3067,3,...,144.9969,Northern Metropolitan,4019,15.75,0.145455,4,47,0,other,0
4,Abbotsford,4,house,1600000.0,VB,Nelson,2016-04-06,2.5,3067,3,...,144.9941,Northern Metropolitan,4019,17.75,0.083969,4,2,2,St,0

Как и при использовании методов отдельно для строк и столбцов, метод loc() ожидает на вход метки, а iloc() — номера позиций строк и столбцов.