In [3]:
import pandas as pd

melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_df = melb_data.copy()
#melb_df.head()
#удаление столбцов
melb_df = melb_df.drop(['index', 'Coordinates'], axis=1)
#melb_df.head()
#МАТЕМАТИЧЕСКИЕ ОПЕРАЦИИ СО СТОЛБЦАМИ
#создадим переменную total_rooms, в которой будем хранить общее количество комнат в здании
total_rooms = melb_df['Rooms'] + melb_df['Bedroom'] + melb_df['Bathroom']
#признак MeanRoomsSquare, который соответствует средней площади одной комнаты для каждого объекта. 
# Для этого разделим площадь здания на полученное ранее общее количество комнат
melb_df['MeanRoomsSquare'] = melb_df['BuildingArea'] / total_rooms
#display(melb_df['MeanRoomsSquare'])
#признак — AreaRatio, коэффициент соотношения площади здания (BuildingArea) и площади участка (Landsize). 
# Для этого разницу двух площадей поделим на их сумму:
melb_df['AreaRatio'] = (melb_df['BuildingArea'] - melb_df['Landsize']) / (melb_df['BuildingArea'] + melb_df['Landsize'])
#display(melb_df['AreaRatio'])
#значение в столбце AreaRatio служит своеобразным указателем соотношения площадей объекта недвижимости. 
# Для пустырей — участков без строений — он будет равен -1, 
# для домов без территории — 1, во всех остальных случаях мы можем увидеть, какая площадь больше — здания или участка.
#Если рассматриваемые площади равны, то числитель дроби зануляется и коэффициент тоже равен 0.
#Если одна из площадей начинает доминировать над другой, то коэффициент начинает расти в отрицательную сторону, 
#если площадь участка больше площади здания, и в положительную сторону, если наоборот
price_square = melb_df['Price'] **2 # квадрат цены объекта недвижимости
#display(price_square)
melb_df['Regionname'].mode() #наиболее распространённое название района

0    Southern Metropolitan
Name: Regionname, dtype: object

In [8]:
def delete_columns(df, col=[]):
    for c in col:
        if c not in df.columns:
            return None
    df_new = df.copy()
    return df_new.drop(col, axis=1)

import pandas as pd
customer_df = pd.DataFrame({
            'number': [0, 1, 2, 3, 4],
            'cust_id': [128, 1201, 9832, 4392, 7472],
            'cust_age': [13, 21, 19, 21, 60],
            'cust_sale': [0, 0, 0.2, 0.15, 0.3],
            'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
            'cust_order': [1400, 14142, 900, 1240, 8430]
        })
delete_columns(customer_df, col=['number', 'cust_year_birth' ])

   cust_id  cust_age  cust_sale  cust_order
0      128        13       0.00        1400
1     1201        21       0.00       14142
2     9832        19       0.20         900
3     4392        21       0.15        1240
4     7472        60       0.30        8430