In [2]:
#Напишите функцию delete_columns(df, col=[]), которая удаляет столбцы из DataFrame и возвращает новую таблицу. 
# Если одного из указанных столбцов не существует в таблице, то функция должна возвращать None. 
# Удалите выбранные вами столбцы из таблицы customer_df.
def delete_columns(df, col=[]):
    for c in col:
        if c not in df.columns:
            return None
    df_new = df.copy()
    return df_new.drop(col, axis=1)

import pandas as pd
customer_df = pd.DataFrame({
            'number': [0, 1, 2, 3, 4],
            'cust_id': [128, 1201, 9832, 4392, 7472],
            'cust_age': [13, 21, 19, 21, 60],
            'cust_sale': [0, 0, 0.2, 0.15, 0.3],
            'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
            'cust_order': [1400, 14142, 900, 1240, 8430]
        })
delete_columns(customer_df, col=['number', 'cust_year_birth' ])

   cust_id  cust_age  cust_sale  cust_order
0      128        13       0.00        1400
1     1201        21       0.00       14142
2     9832        19       0.20         900
3     4392        21       0.15        1240
4     7472        60       0.30        8430