In [6]:
import pandas as pd
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
display(countries_df)

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [15]:
import pandas as pd
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
display(countries_df)
print(countries_df.mean(axis=0))
print(countries_df.mean(axis=1))
col_pop = countries_df.population
print(col_pop)
print(countries_df['population'])

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

population    9.070000e+01
square        5.800860e+06
dtype: float64
UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
UA     301836.750
BY     103804.750
KZ    1362459.520
dtype: float64
UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64
UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

C:\Users\Людмила\AppData\Local\Temp\ipykernel_11232\518980382.py:16: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(countries_df.mean(axis=0))
C:\Users\Людмила\AppData\Local\Temp\ipykernel_11232\518980382.py:17: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(countries_df.mean(axis=1))

In [21]:
#Получение доступа к ячейке
import pandas as pd
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
print(countries_df.loc['UK', 'square'])
print(countries_df.loc['RU', ['population', 'square']])
print(countries_df.loc[['UA', 'BY', 'KZ'],['population', 'square']])
print(countries_df.iloc[4:8, 1:3])

133396
population      146.24
square        17125191
Name: RU, dtype: object
    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902
    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

In [4]:
import pandas as pd
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df.to_csv('data/countries.csv', index=False, sep=';')
countries_data = pd.read_csv('data/countries.csv', sep=';')
display(countries_data)

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [28]:
import pandas as pd
numbers = pd.Series(data = [1, 2, 4, 2, 3, 2, 1, 5, 6])
numbers.mode()

0    2
dtype: int64

In [60]:
import pandas as pd
import math
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
#print(melb_data.loc[15, 'Price'])
#print(melb_data.loc[3521, 'Landsize']/melb_data.loc[1690, 'Landsize'])
#display(melb_data.head())
#display(melb_data.tail(7))
melb_data.shape
melb_data['Car']=melb_data['Car'].astype('int64')


#melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]
#melb_data.describe(include=['object'])
melb_data['Regionname'].value_counts()
melb_data['Regionname'].value_counts(normalize=True)
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
#melb_data.info()
#melb_data.describe()
melb_data.describe().loc[:, ['BuildingArea']]
melb_data.describe(include=['object'])
melb_data['Type'].value_counts(normalize=True)
melb_data['Rooms'].nunique()
melb_data['Propertycount'].max()
#print(melb_data['Rooms'].mode())
melb_data['Regionname'].mode()
melb_data['Propertycount'].sum()

melb_data['Distance'].std()
#print(abs(melb_data['BuildingArea'].mean()-melb_data['BuildingArea'].mode())/melb_data['BuildingArea'].mean()*100)

mask = melb_data['Price'] > 2000000
#display(melb_data[mask].head())
new_melb_data = melb_data['Price'] > 2000000
#display(new_melb_data[mask].head())
melb_data[melb_data['Rooms'] == 1].shape[0] #количество зданий с 3 комнатами
melb_data[(melb_data['Rooms'] == 3) & (melb_data['Price'] < 300000)].shape[0] #число трёхкомнатных домов с ценой менее 300 тыс
#дома с ценой менее 300 тысяч, у которых либо число комнат равно 3 либо площадь домов более 100 квадратных метров
melb_data[((melb_data['Rooms'] == 3) | (melb_data['BuildingArea'] > 100)) & (melb_data['Price'] < 300000)].shape[0]
melb_data[melb_data['Type'] == 't']['Rooms'].max() #максимальное количество комнат в таунхаусах
#найдём медианную площадь здания у объектов, чья цена выше средней
mean_price = melb_data['Price'].mean()
melb_data[melb_data['Price'] > mean_price]['BuildingArea'].median()
melb_data['Propertycount'].max()

21650

In [68]:
import pandas as pd
import math
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
#melb_data.head(10)
#melb_data.info()
melb_data[melb_data['Bathroom'] == 0].shape[0]
melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000)].shape[0]
melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000)].shape[0]
price_min = melb_data['Price'].min()
melb_data[(melb_data['BuildingArea'] == '0') & (melb_data['Price'] > 0)].shape[0]
melb_data[melb_data['BuildingArea'] == 0]['Price'].min()
mean_price = melb_data['Price'].mean()
melb_data[(melb_data['Price'] < 1000000) & ((melb_data['Rooms'] > 5) | (melb_data['YearBuilt'] > 2015) )]['Price'].mean()
melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]['Regionname'].mode()

0    Northern Metropolitan
Name: Regionname, dtype: object