In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

'Пол, возраст'
'ЗП'
'Ищет работу на должность:'
'Город, переезд, командировки'
'Занятость'
'График'
'Опыт работы'
'Последнее/нынешнее место работы'
'Последняя/нынешняя должность'
'Образование и ВУЗ'
'Обновление резюме'
'Авто'

In [2]:
hh_database = pd.read_csv('data/dst-3.0_16_1_hh_database.csv', sep= ';')

In [3]:
hh_database['Город, переезд, командировки']

0        Советск (Калининградская область) , не готов к...
1        Королев , не готов к переезду , готов к редким...
2        Тверь , не готова к переезду , не готова к ком...
3        Саратов , не готов к переезду , готов к редким...
4        Москва , не готова к переезду , готова к коман...
                               ...
44739    Тверь , готов к переезду (Москва, Химки) , гот...
44740    Липецк , готов к переезду , готов к командировкам
44741    Челябинск , готова к переезду , готова к редки...
44742    Тамбов , не готов к переезду , не готов к кома...
44743    Москва , не готов к переезду , не готов к кома...
Name: Город, переезд, командировки, Length: 44744, dtype: object

In [3]:
# На вход данной функции поступает строка с адресом.
def get_education_type(education):
# Создаём список географических пометок exclude_list.
    exclude_list = ['высшее', 'неоконченное высшее', 'среднее специальное', 'среднее']
# Метод split() разбивает строку на слова по пробелу.
# В результате получаем список слов в строке и заносим его в переменную address_list.
    education_list = education.split(' ')
    #for elem in education:
    
    #new_keywords = [m for m in keywords if len(m) >= 5]
        
# Обрезаем список, оставляя в нём только последний элемент,
# потенциальный подтип улицы, и заносим в переменную street_type.
    education_type = education_list[0:2]
    for n in education_type:
        if n=='образование':
            education_type.remove('образование')
    education_list=' '.join(education_type).lower()
    return education_list

hh_database['Образование'] = hh_database['Образование и ВУЗ'].apply(get_education_type)
#hh_database['Образование'].value_counts()
hh_database = hh_database.drop(['Образование и ВУЗ'], axis=1)
hh_database.head()

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,неоконченное высшее
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,высшее
2,"Женщина , 36 лет , родилась 12 августа 1982",20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,среднее специальное
3,"Мужчина , 38 лет , родился 25 июня 1980",100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,высшее
4,"Женщина , 26 лет , родилась 3 марта 1993",140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,высшее

In [62]:
def get_experience(arg):
    month_key_words = ['месяц', 'месяцев', 'месяца']
    year_key_words = ['год', 'лет', 'года']
    args_splited = arg.split(' ')
    month = 0
    year = 0
    for i in range(len(args_splited)):
        if args_splited[i] in month_key_words:
            month = args_splited[i-1]
        if args_splited[i] in year_key_words:
            year = args_splited[i-1]
    return int(year)*12 + int(month)

def get_exp(exp):
    try:
        exp= exp[0:(exp.find('месяц'))]
        return get_experience(exp)
    except AttributeError:
        return exp

hh_database['Опыт'] = hh_database['Опыт работы'].apply(get_exp)
     
hh_database['Опыт']

0        0
1        0
2        0
3        0
4        0
        ..
44739    0
44740    0
44741    0
44742    0
44743    0
Name: Опыт, Length: 44744, dtype: int64

def get_exp(exp):
    if exp.startswith('Опыт работы'):
        exp.split('месяц')

hh_database['Опыт работы']
list_ex=[]
hh_database.shape[0]

for i in range (hh_database.shape[0]):
    try:
        list_ex.append(hh_database['Опыт работы'][i][0:(hh_database['Опыт работы'][i].find('месяц')+5)])
    except AttributeError:
        list_ex.append(hh_database['Опыт работы'][i])

list_ex

In [52]:
r= hh_database['Опыт работы'][0].find('месяц')
hh_database['Опыт работы'][0][0:r]
r
hh_database['Опыт работы'] = hh_database['Опыт работы'].apply(lambda x: 'год' if (x == 'года' or x == 'лет') else x)
hh_database['Опыт работы']

0        год
1        год
2        год
3        год
4        год
        ...
44739    год
44740    год
44741    год
44742    год
44743    год
Name: Опыт работы, Length: 44744, dtype: object

In [74]:
import re 
def get_experience(arg):
    try:
        args_splited = arg.split(' ')
        month = 0
        year = 0
        for i in range(len(args_splited)):
            if args_splited[i] == 'месяц':
                month = args_splited[i-1]
            if args_splited[i] in 'год':
                year = args_splited[i-1]
        return int(year)*12 + int(month)
    except AttributeError:
        arg

f = ['Опыт работы 3 год 6 месяцев sdfsdf sdfsdf sdfiwerk 432 месяцев',
     'Опыт работы 4 год ит администраторс с 2008 года',
     'Опыт работы 5 год 1 месяц жил не тужил и никого не трогал',
     'Опыт работы 7 год 2 месяца когда же все это законичится',
     'Опыт работы 1 месяц спасибо, что спросили',
     'не указан',
     0,
     'Опыт работы 12 месяцев и ни минутой больше а до того 6 лет ВУЗ',
     'Опыт работы 4 месяца и в декрет с 2022 года']
for i in range (len(f)):
    try:
        if f[i].find('месяц')>-1:
             f[i] = f[i][0:(f[i].find('месяц')+5)]
             f[i] =get_experience(f[i])
    except AttributeError:
        f[i]
re.split(r'w\s\d+\s\w\d+\s\w', f[0])

f

TypeError: expected string or bytes-like object, got 'int'

In [83]:
import re 
f = ['Опыт работы 3 год 6 месяцев sdfsdf sdfsdf sdfiwerk 432 месяцев',
     'Опыт работы 4 год ит администраторс с 2008 года',
     'Опыт работы 5 год 1 месяц жил не тужил и никого не трогал',
     'Опыт работы 7 год 2 месяца когда же все это законичится',
     'Опыт работы 1 месяц спасибо, что спросили',
     'не указан',
     0,
     'Опыт работы 12 месяцев и ни минутой больше а до того 6 лет ВУЗ',
     'Опыт работы 4 месяца и в декрет с 2022 года']
t=re.split(r'Опыт работы', '\s\d+\s\w\d+\s\w', f[0])
t

TypeError: 'str' object cannot be interpreted as an integer

In [55]:
ex = hh_database['Опыт работы'][0:5]
ex

0    год
1    год
2    год
3    год
4    год
Name: Опыт работы, dtype: object